body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #12022b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.SpørsmålsComponent {
  color: black;
  font-size: large;
  background-color: #e4e3d3;
  padding: 20px; /* legger til litt plass rundt teksten */
  border-radius: 5px; /* gjør hjørnene på boksen litt rundet */
  width: 50%; /* setter en fast bredde på boksen */
  margin: 25% auto 0px; /* sentrerer boksen horisontalt og setter margin-bottom */
  border-style: solid;
  border-color: #ffbc2d;
  border-width: 4px;
  margin-top: 10%;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 150px;
}

.SvarBox {
  font-size: 18px;
  background-color: #e4e3d3;
  display: flex;
  align-items: center;
  width: 55%; /* juster dette til ønsket bredde */
  margin: 20px auto; /* dette vil sentrere komponenten horisontalt og setter margin-top til 20px */
  padding: 65px;
  max-width: 450px;
  height: 100%;
  border-radius: 5px;
  border-style: solid;
  border-color: #ffbc2d;
  border-width: 4px;
  line-height: 1.7;

  position: relative; /* posisjonering i forhold til den normale flyten */
  bottom: auto; /* standardverdi for å unngå å feste til bunnen */
}

.svarliste {
  color: beige;
  text-align: center;
  width: max-content; /* Setter bredden til innholdets bredde */
  margin: 0 auto; /* Sentrerer boksen horisontalt */
  /* Legg til andre stiler som padding, border, etc., om nødvendig */
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 1.3rem;
  width: 65%;
  max-width: 65%;
  line-height: 1.8;
}
.svarliste span {
  color: lightblue;
  display: block; /* Gjør hvert span-element til en blokk, slik at det tar opp hele bredden */
  border-bottom: 1px solid white; /* Setter en kant rundt hver tekstlinje */
  margin: 5px 0; /* Legger til margin over og under hver boks */
  padding: 5%; /* Legger til litt plass inne i hver boks */
  /* Legg til eventuelle andre stildefinisjoner her, som bakgrunnsfarge eller font-stil */
}

.klikkbart-svar {
  cursor: pointer;
  /* Legg til ekstra stiler her, som fargeendring ved hover */
}

.footer {
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.hovedoverskrift {
  color: lightblue;
  text-align: center; /* Senterer teksten */
  margin-top: 50px;
  font-size: 2.5rem;
  padding: 5%;
  border-bottom: 1px solid white;
  margin: 0 auto;
}

.lagreknapp {
  background-color: #add8e6; /* Lys blå bakgrunnsfarge */
  color: black; /* Hvit tekstfarge */
  border: none; /* Fjerner standard kantlinje */
  padding: 10px 20px; /* Legger til innvendig plass */
  font-size: 16px; /* Øker skriftstørrelsen */
  border-radius: 5px; /* Runde hjørner */
  cursor: pointer; /* Endrer markøren til en peker */
  transition: background-color 0.3s ease; /* Gjør overgangen mykere når musen går over */
}

.content {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.lagrecontainer {
  text-align: center;
}

.lagreknapp:hover {
  background-color: #87ceeb; /* Litt mørkere blå for hover-effekt */
}

.arrow {
  background-image: url('data:image/svg+xml,\00003csvg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\00003cpath fill="%239aa0a6" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z">\00003c/path>\00003c/svg>');
  display: inline-block;
  height: 24px;
  width: 24px;
}

.tidligere-svar-rad {
  display: "flex";
  justify-content: "space-between";
}
